.grid-container {
    width: 80%;
    margin: auto; 
    display: grid;
    grid-template-columns: auto auto auto; 
    grid-template-areas:
    "one one one  "
    "two  three three "
    "two four five"
    "two six six"
    ;
}

.grid-item {
    padding: 10px;
    background: #08ac90;
    font-size: 40px;
    border: 2px solid;
}
.item1 {
    /* ================= Your code start here ================ */
    grid-area: one;
    /* =================== End code ========================== */
}
.item2 {
    /* ================= Your code start here ================ */
    grid-area: two;
    /* =================== End code ========================== */
}
.item3 {
    /* ================= Your code start here ================ */
   grid-area: three;
    /* =================== End code ========================== */
}
.item6 {
    /* ================= Your code start here ================ */
    grid-area: six;
    /* =================== End code ========================== */
}